{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "import",
        "jsx-a11y"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true
    },
    "rules": {
        "react/prop-types": [
            2
        ],
        "arrow-body-style": [
            2,
            "as-needed"
        ],
        "no-loop-func": "off",
        "prefer-template": [
            "warn"
        ],
        "react/forbid-prop-types": [
            1,
            {
                "forbid": [
                    ""
                ],
                "checkContextTypes": false,
                "checkChildContextTypes": false
            }
        ]
    },
    "extends": [
        "airbnb"
    ]
}